{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block cuerpo %}

    <h1>Registro</h1>

    <form action="" method="get">


        <label for="marcas">Ingrese la marca: </label>
        <input type="text" name = "marcas">


        <label for="colores">Ingrese el color: </label>
        <input type="text" name = "colores">

        <label for="cantidad">Ingrese la cantidad de pasajeros: </label>
        <input type="number" name = "cantidad">

        <label for="fecha">Ingrese la fecha de salida: </label>
        <input type="date" name = "fecha">

        <button type="submit">Enviar</button>

    </form>

    <hr>


{% endblock %}


</html>